* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --Sky-blue: rgb(212, 212, 253);
}
body {
    color: white;
    font-family: 'Arimo', sans-serif;
}
.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(119, 4, 228);
}
.blue {
    border-radius: 10px;
    background: linear-gradient(0.15turn, rgb(5, 5, 179), rgb(4, 4, 230), rgb(232, 232, 250));
    width: 500px;
    height: auto;
    padding: 25px 20px;
}
p {
    font-weight: 400;
    color: var(--Sky-blue);
}
.right {
    font-weight: 500;
    color: white;
    margin-left: 5px;
}
h2,h3 {
    font-weight: 550;
}
.sunny {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
}
.icon {
    margin-right: 20px;
}
.sunny h1 {
    margin-right: 30px;
    font-size: 4.0em;
    font-weight: 500;
}
sup {
    font-size: 30px;
}
.about {
    display: flex;
    align-items: center;
}
.about p {
    margin-right: 2px;
}
.message {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.message h3 {
    margin-right: 10px;
}
h2 {
    margin-bottom: 30px;
    font-size: 20px;
}
.report {
    display: flex;
    justify-content: space-between;
}

@media (max-width:500px) {
    .blue {
        height: auto;
        width: 380px;
        padding: 20px 15px;
        
    }
    h3 {
        font-size: 14px;
    }
    p {
        font-size: 12px;
    }
    .sunny {
        margin-bottom: 20px;
        margin-top: 5px;
    }
    .sunny h1 {
        font-size: 3.0em;
        margin-right: 15px;
    }
    .icon {
        margin-right: 15px;
    }
    sup {
        font-size: 20px;
    }
    .message h3 {
        margin-right: 8px;
    }
    h2 {
        margin-bottom: 20px;
        font-size: 14px;
    }
}